html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    color: aqua;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.card {
    margin-top: 2rem;
}
